/* ---> :Flex Kit: <--- */
.d-flex{
    display: flex;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -$main-gutter;
    margin-left: -$main-gutter;
}

/* ---> :Align Kit: <--- */
.aifs{
    align-items: flex-start;
}

.aic{
    align-items: center;
}

.aife{
    align-items: flex-end;
}

/* ---> :Justify Kit: <--- */
.jcfs{
    justify-content: flex-start;
}

.jcc{
    justify-content: center;
}

.jcfe{
    justify-content: flex-end;
}