@each $size in $gutters{
    .ui-p#{$size}{
        padding: $size;
    }
    .ui-pt#{$size}{
        padding-top: $size;
    }
    .ui-pr#{$size}{
        padding-right: $size;
    }
    .ui-pb#{$size}{
        padding-bottom: $size;
    }
    .ui-pl#{$size}{
        padding-left: $size;
    }
}

.ui-p--resetrow{
    padding-right: 0;
    padding-left: 0;
}